@use "../abstracts/variables" as *;

body {
    font-family: $font-primary;
    background: $background;
    color: $text-primary;
    line-height: 1.5;
}

.container {
    width: min(100% - 48px, $container-width);
    margin-inline: auto;
}

section {
    position: relative;
}
